# macOS
.DS_Store

# Env files
.env
.env.*

# Node/JS (future setup)
node_modules/
dist/
build/
coverage/

# Next.js & TypeScript build outputs
**/.next/
**/out/
**/*.tsbuildinfo

# IDE
.vscode/
.idea/
